*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    transition: 0.4s all;
}
.play{
    background-color: white;
    padding: 10px;
    position: sticky;
    z-index: 1000;
    top: 0;
}
.cards, .card, .view{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cards{
  flex-wrap: wrap;
}
.cards .card{
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  margin: 5px;
  height: 100px;
  width: 100px;
}
.card.shake{
  animation: shake 0.35s ease-in-out;
}
.card.scale {
  animation: scale 0.40s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
@keyframes scale {
  0%, 100% {
    transform: scale(1.0);
  }
  50% {
      transform: scale(1.05);
  }
}
.card .view{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  overflow: hidden;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.25s linear;
}
.card .back-view img{
  width: 29px;
}
.card .front-view img{
  width: 100%;
  height: 100%;
  object-fit: cover
}
.card .front-view{
  transform: rotateY(-180deg);
}
.card.flip .front-view{
  transform: rotateY(0);
}
.card.flip .back-view{
  transform: rotateY(180deg);
}